
body#page1{background-color:white!important;}

body{
  background-color: #e5d3ec;
}

h1 {
    color:black;
    background-color: white;
  }
  
  .parrafosLoguedHome

  p {
    color:black;
    background-color: white;
    border: 1px solid black;
    margin: 50px;
    padding: 50px;
    border-radius: 100px;
  }


